POSTGRES_DB=studytracker
POSTGRES_USER=studyuser
POSTGRES_PASSWORD=your_secure_password_here
API_KEY=your_api_key_here
ASPNETCORE_ENVIRONMENT=Production
ECR_REGISTRY=your_aws_account_id.dkr.ecr.us-east-1.amazonaws.com
IMAGE_TAG=latest
